AI_PROVIDER=onnx
AI_API_URL=
AI_API_KEY=
HF_API_TOKEN=
HF_DR_MODEL=dima806/diabetic_retinopathy_detection
ONNX_MODEL_PATH=models/ocunet.onnx
ONNX_METADATA_PATH=models/ocunet_metadata.json
BACKEND_URL=http://localhost:8000
